<div *ngFor="let skill of skills; let i = index">
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <small>Skill {{i + 1}}</small>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Skill Name</mat-label>
            <input matInput
                   [(ngModel)]="skill.name"
                   name="name"
                   placeholder="e.g. Java"
                   required>
            <mat-hint>Name of the skill</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Level</mat-label>
            <mat-select [(ngModel)]="skill.level" required name="level">
              <mat-option value="0"><small>Keine Kenntnisse</small></mat-option>
              <mat-option value="1"><small>Grundkenntnisse</small></mat-option>
              <mat-option value="2"><small>Vertiefte Kenntnisse</small></mat-option>
              <mat-option value="3"><small>Spezialwissen</small></mat-option>
            </mat-select>
            <mat-hint>Level of skill</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onDelete(i)">Delete</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-divider></mat-divider>
</div>

