<div class="row">
  <div class="col-md-12" style="text-align: center">
    <span class="badge badge-secondary">Role List</span>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-role-item
      *ngFor="let roleEl of roles; let i = index"
      [role]="roleEl"
      [index]="i"></app-role-item>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12" style="text-align: center">
    <button class="btn btn-success" (click)="onNew()">New Role</button>
  </div>
</div>
