<div class="row">
  <div class="col-md-12 text-center">
    <span class="badge badge-secondary">Project-Edit</span>
  </div>
</div>
<hr>
<form #f="ngForm" (submit)="onSubmit()">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Project Name</mat-label>
        <input matInput
               placeholder="e.g. Anwendung ABC"
               [(ngModel)]="project.name"
               name="name"
               required>
        <mat-hint>Project name</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Role</mat-label>
        <input matInput
               placeholder="e.g. Software Developer"
               [(ngModel)]="project.role"
               name="role"
               required>
        <mat-hint>Role of employee in the project</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Start Date</mat-label>
        <input matInput
               [matDatepicker]="picker1"
               [(ngModel)]="project.startDate"
               name="startDate"
               placeholder="e.g. 2/2/2019"
               required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-hint>Date when this project was started</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>End Date</mat-label>
        <input matInput
               [matDatepicker]="picker2"
               [(ngModel)]="project.endDate"
               name="endDate"
               placeholder="e.g. 2/2/2019"
               required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-hint>Date when this project was completed</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Project Size</mat-label>
        <input matInput
               placeholder="e.g. 5"
               [(ngModel)]="project.projectSize"
               name="projectSize"
               required>
        <mat-hint>Team size</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Project Order</mat-label>
        <input matInput
               placeholder="e.g. 1"
               [(ngModel)]="project.projectOrder"
               name="projectOrder"
               required>
        <mat-hint>Order in which the projects should be displayed</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <app-tech-product-select [(employeeTechProducts)]="project.programmingLanguages"
                               techProductName="programminglanguages">
      </app-tech-product-select>
    </div>
    <div class="col-md-6">
      <app-tech-product-select [(employeeTechProducts)]="project.tools"
                               techProductName="tools">
      </app-tech-product-select>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <app-tech-product-select [(employeeTechProducts)]="project.technologies"
                               techProductName="technologies" >
      </app-tech-product-select>
    </div>
    <div class="col-md-6">
      <app-tech-product-select [(employeeTechProducts)]="project.miscellaneous"
                               techProductName="miscellaneous">
      </app-tech-product-select>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Project Description</mat-label>
        <textarea matInput
                  placeholder="e.g. Project deals with creating an application ...."
                  [(ngModel)]="project.description"
                  name="project"
                  required></textarea>
        <mat-hint>Describe this project</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tasks
            </mat-panel-title>
            <mat-panel-description>
              Enter the tasks done in this projects
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-edit-task-item [tasks]="project.tasks"></app-edit-task-item>
          <br>
          <div class="row">
            <div class="col-md-12 text-center">
              <button mat-raised-button color="primary" type="button" (click)="onAddTaskItem()">Add</button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <button class="btn btn-primary"  type="submit">Save</button>
    |
    <button class="btn btn-primary" type="button" (click)="onDelete()">Delete</button>
    |
    <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
  </div>
</form>
