<div class="row">
  <div class="col-md-12" style="text-align: center">
    <span class="badge badge-secondary">Person List</span>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-employee-item
      *ngFor="let employeeEl of employees; let i = index"
      [employee]="employeeEl"
      [index]="i"></app-employee-item>
  </div>
</div>
<hr>
