<div class="list-group-item clearfix"
     style="cursor: pointer;"
     data-toggle="modal" [attr.data-target]="'.' + name + techProduct.id">
  <div class="pull-left" >
    <h6 class="list-group-item-heading">{{techProduct.name}}</h6>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" ngClass="{{name}}{{techProduct.id}}" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content justify-content-center align-items-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Element</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #f="ngForm">
        <div class="modal-body">
          <div class="row  justify-content-center align-items-center">
            <div class="form-group col-xs-2">
              <input type="text" class="form-control" [(ngModel)]="techProduct.name" name="techProductName">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="save(f)" data-dismiss="modal">save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
