<mat-form-field appearance="outline" style="width: 100%;">
  <mat-label>{{techProductName}}</mat-label>
  <mat-select [(ngModel)]="employeeTechProducts"
              [name]="techProductName"
              (selectionChange)="change($event)"
              multiple
              required
              [compareWith]="equals">
    <mat-option *ngFor="let techProduct of techProducts" [value]="techProduct">{{techProduct.name}}</mat-option>
  </mat-select>
  <mat-hint>Known {{techProductName}}</mat-hint>
</mat-form-field>

<!--<div class="form-group">
  <label for="techProducts">Roles</label>
  <select [name]="techProductName"
          class="form-control"
          id="techProducts"
          [(ngModel)]="employeeTechProducts"
          [compareWith]="equals"
          #techProductsNgModel="ngModel"
          required
          multiple>
    <option *ngFor="let techProduct of techProducts" [value]="techProduct">{{techProduct.name}}</option>
  </select>
</div>-->
