<div class="row">
  <div class="col-md-12" style="text-align: center">
    <span class="badge badge-secondary">Profile</span>
  </div>
</div>
<hr>
<div class="row" style="position: relative; height: 85%; width: 100%;">
  <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(getHtmlUrl())'
          style="position: relative; height: 100vh; width: 100%;">
  </iframe>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <button class="btn btn-primary" *ngIf="isHim() || isAdmin()" (click)="onEdit()">Edit</button>
  </div>
</div>
<div class="row justify-content-center align-items-center">
  <a [href]="getPdfUrl('template')" target="_blank">LumaBIT PDF</a>
</div>
<div class="row justify-content-center align-items-center">
  <a [href]="getPdfUrl('qmtemplate')" target="_blank">QualityMinds PDF</a>
</div>
<br>
