<div class="row">
  <div class="col-md-12" style="text-align: center">
    <span class="badge badge-secondary">Person Detail</span>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="text-align: center" *ngIf="person">
    <hr>
    <img src="{{person.imageUrl}}" class="img-responsive img-circle" style="width: 25%; margin: 0 auto;">
    <h5><strong>PersonId:</strong> {{person.id}}</h5>
    <h5><strong>FirstName:</strong>{{person.firstName}}</h5>
    <h5><strong>LastName:</strong>{{person.lastName}}</h5>
    <h5><strong>BirthDate:</strong> {{person.birthDate}}</h5>
    <h5><strong>EmailId:</strong>   {{person.emailAddress}}</h5>
    <h5><strong>Address:</strong>   {{person.address.addressLine}}</h5>
    <h5><strong>City:</strong>      {{person.address.city}}</h5>
    <h5><strong>State:</strong>     {{person.address.state}}</h5>
    <h5><strong>Zip:</strong>       {{person.address.zipCode}}</h5>
  </div>
</div>
<hr>
<div class="row" *ngIf="isHim() || authService.isAdmin()">
  <div class="col-md-12" style="text-align: center">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Person
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" type="button" (click)="onEditPerson()">Edit</button>
        <button class="dropdown-item" type="button" (click)="onDeletePerson()" *ngIf="!isHim()">Delete</button>
      </div>
    </div>
  </div>
</div>


