<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12" style="text-align: center">
        <span class="badge badge-secondary">Edit Details</span>
        <hr>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>First Name</mat-label>
            <input matInput
                   placeholder="e.g. Tobias"
                   [(ngModel)]="person.firstName"
                   name="firstName"
                   required>
            <mat-hint>Person's first name</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Last Name</mat-label>
            <input matInput
                   placeholder="e.g. Huber"
                   [(ngModel)]="person.lastName"
                   name="lastName"
                   required>
            <mat-hint>Person's last name</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Email Address</mat-label>
            <input matInput
                   type="email"
                   placeholder="e.g. huber@lumabit.de"
                   [(ngModel)]="person.emailAddress"
                   name="emailAddress"
                   email
                   #email="ngModel"
                   required>
            <mat-hint>Person's email ID</mat-hint>
            <mat-error *ngIf="!email.valid && email.touched">Please add a valid email address!</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Birth Date</mat-label>
            <input matInput
                   [matDatepicker]="picker"
                   [(ngModel)]="person.birthDate"
                   name="birthDate"
                   placeholder="e.g. 2/2/2019"
                   required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Date of availability of the employee for new project</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Street</mat-label>
            <input matInput
                   placeholder="e.g. Schubertstr 1"
                   [(ngModel)]="person.address.addressLine"
                   name="addressLine"
                   required>
            <mat-hint>Street name and house number</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>State</mat-label>
            <input matInput
                   placeholder="e.g. Bayern"
                   [(ngModel)]="person.address.state"
                   name="state"
                   required>
            <mat-hint>State name</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>City</mat-label>
            <input matInput
                   placeholder="e.g. Nürnberg"
                   [(ngModel)]="person.address.city"
                   name="city"
                   required>
            <mat-hint>City name</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Zip Code</mat-label>
            <input matInput
                   type="number"
                   placeholder="e.g. Bayern"
                   [(ngModel)]="person.address.zipCode"
                   name="zipCode"
                   required>
            <mat-hint>Postal zip code</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Roles</mat-label>
            <mat-select [(ngModel)]="person.roles"
                        name="roles"
                        multiple
                        required
                        #roles="ngModel"
                        [compareWith]="equals">
              <mat-option *ngFor="let defaultRole of defaultRoles" [value]="defaultRole">{{defaultRole.name}}</mat-option>
            </mat-select>
            <mat-hint>Assign Roles</mat-hint>
            <mat-error *ngIf="!roles.valid && roles.touched">You must pick atleast one role!</mat-error>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <button class="btn btn-primary"
                type="submit"
                *ngIf="f.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
