<div class="row">
  <div class="col-md-12" style="text-align: center">
    <span class="badge badge-secondary">{{employee.firstName}}'s - Projects</span>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-project-item
      *ngFor="let projectEl of projects; let i = index"
      [project]="projectEl"
      [index]="i"></app-project-item>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12" style="text-align: center">
    <button class="btn btn-success" (click)="onNewProject()">New Project</button>
  </div>
</div>
