<div class="row" *ngFor="let techProductEl of techProducts; let i = index">
  <div class="col-md-10">
    <app-catalog-item
      [techProduct]="techProductEl"
      [index]="techProductEl.id"
      [name]="name">
    </app-catalog-item>
  </div>
  <div class="col-md-2" style="padding-top: 8px; padding-left: 0%">
    <button class="btn btn-danger"
            data-toggle="modal"
            [attr.data-target]="'.' + 'del' + name + techProductEl.id"><small>X</small></button>
  </div>
  <!-- Modal -->
  <div class="modal fade" ngClass="del{{name}}{{techProductEl.id}}" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content justify-content-center align-items-center">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Delete Element</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center align-items-center">
            <h6>Are you sure you want to delete <strong>{{techProductEl.name}}</strong>?</h6>
            <h6>This will also remove <strong>{{techProductEl.name}}</strong> from all employees and projects.</h6>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="delete(techProductEl, i)" data-dismiss="modal">yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">no</button>
        </div>
      </div>
    </div>
  </div>
</div>


<br>


<div class="row justify-content-center align-items-center" *ngIf="techProducts">
  <div class="col-xs-12">
    <button class="btn btn-success"
            data-toggle="modal"
            [attr.data-target]="'.' + name"> Add </button>
  </div>
</div>

<!-- Modal ADD-->
<div class="modal fade" ngClass="{{name}}" id="exampleModalCent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCente" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content justify-content-center align-items-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCente">Add Element</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #f="ngForm">
        <div class="modal-body">
          <div class="row  justify-content-center align-items-center">
            <div class="form-group col-xs-2">
              <input type="text" class="form-control" [(ngModel)]="newTechProduct.name" name="techProductName">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="create(f)" data-dismiss="modal">save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
