<div *ngFor="let careerItem of careerItems; let i = index">
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <small>Career Item {{i + 1}}</small>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Start Date</mat-label>
            <input matInput
                   [matDatepicker]="picker1"
                   [(ngModel)]="careerItem.startDate"
                   name="startDate"
                   placeholder="e.g. 2/2/2019"
                   required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-hint>Start date of this career</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>End Date</mat-label>
            <input matInput
                   [matDatepicker]="picker2"
                   [(ngModel)]="careerItem.endDate"
                   name="endDate"
                   placeholder="e.g. 2/2/2019"
                   required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-hint>End date of this career</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Description</mat-label>
        <textarea matInput
                  placeholder="e.g. Senior Software Engineer at ABC GmbH"
                  [(ngModel)]="careerItem.description"
                  name="careerItem"
                  required></textarea>
        <mat-hint>Describe your career</mat-hint>
      </mat-form-field>
      <br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onDelete(i)">Delete</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-divider></mat-divider>
</div>
