<a class="list-group-item"
   [routerLink] = "[index]"
   routerLinkActive="active"
   style="cursor: pointer;"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{project.name}}</h4>
  </div>
</a>
