<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="badge badge-secondary">Profile-Edit</span>
      </div>
    </div>
    <hr>
    <form #f="ngForm" (submit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>First Name</mat-label>
            <input matInput
                   placeholder="e.g. Tobias"
                   [(ngModel)]="employee.firstName"
                   name="firstName"
                   required>
            <mat-hint>Employee's first name</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Last Name</mat-label>
            <input matInput
                   placeholder="e.g. Huber"
                   [(ngModel)]="employee.lastName"
                   name="lastName"
                   required>
            <mat-hint>Employee's last name</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Status</mat-label>
            <input matInput
                   placeholder="e.g. Available"
                   [(ngModel)]="employee.status"
                   name="status"
                   required>
            <mat-hint>Employee's availability</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Occupation</mat-label>
            <input matInput
                   placeholder="e.g. Software Consultant"
                   [(ngModel)]="employee.occupation"
                   name="occupation"
                   required>
            <mat-hint>Job Description</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Email Address</mat-label>
            <input matInput
                   placeholder="e.g. huber@lumabit.de"
                   [(ngModel)]="employee.emailAddress"
                   name="emailAddress"
                   required>
            <mat-hint>Employee's email ID</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Available Date</mat-label>
            <input matInput
                   [matDatepicker]="picker"
                   [(ngModel)]="employee.availableDate"
                   name="availableDate"
                   placeholder="e.g. 2/2/2019"
                   required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Date of availability of the employee for new project</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Education</mat-label>
            <input matInput
                   placeholder="e.g. Information Technology"
                   [(ngModel)]="employee.education"
                   name="education"
                   required>
            <mat-hint>Employee's qualification</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <app-tech-product-select [(employeeTechProducts)]="employee.technologies"
                                   techProductName="technologies" >
          </app-tech-product-select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <app-tech-product-select [(employeeTechProducts)]="employee.programmingLanguages"
                                   techProductName="programminglanguages">
          </app-tech-product-select>
        </div>
        <div class="col-md-6">
          <app-tech-product-select [(employeeTechProducts)]="employee.tools"
                                   techProductName="tools">
          </app-tech-product-select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <app-tech-product-select [(employeeTechProducts)]="employee.miscellaneous"
                                   techProductName="miscellaneous">
          </app-tech-product-select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Career Items
                </mat-panel-title>
                <mat-panel-description>
                  Enter your previous experiences
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-edit-career-item [careerItems]="employee.careerItems"></app-edit-career-item>
              <br>
              <div class="row">
                <div class="col-md-12 text-center">
                  <button mat-raised-button color="primary" type="button" (click)="onAddCareerItem()">Add</button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Skills
                </mat-panel-title>
                <mat-panel-description>
                  Enter your skills
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-edit-skill-item [skills]="employee.skills"></app-edit-skill-item>
              <br>
              <div class="row">
                <div class="col-md-12 text-center">
                  <button mat-raised-button color="primary" type="button" (click)="onAddSkill()">Add</button>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <br>
      <div class="row justify-content-center">
        <button class="btn btn-primary"  type="submit">Save</button>
        |
        <button class="btn btn-primary" type="button" (click)="onProjects()">Projects</button>
        |
        <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
