<div *ngFor="let task of tasks; let i = index">
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <small>Task {{i + 1}}</small>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Task Description</mat-label>
        <textarea matInput
                  placeholder="e.g. Performed requirement analysis"
                  [(ngModel)]="task.description"
                  name="taskDescription"
                  required></textarea>
        <mat-hint>Describe the task</mat-hint>
      </mat-form-field>
      <br>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onDelete(i)">Delete</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-divider></mat-divider>
</div>
