<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        @font-face {
            font-family: Alegreya Sans SC;
            src: url("../fonts/alegreya-sans-sc-medium.ttf");
        }

        @font-face {
            font-family: Verdana;
            src: url("../fonts/Verdana.ttf");
        }

        @font-face {
            font-family: Verdana;
            src: url("../fonts/Verdana Bold.ttf");
            font-weight: bold;
        }

        body {
            font-family: Verdana, sans-serif;
            font-size: 0.9em;
            /*letter-spacing: 1em ;*/
        }

        h1 {
            font-family: Alegreya Sans SC, sans-serif;
            font-size: 3em;
            font-weight: 500;
        }

        table {
            width: 100%;
        }

        td {
            padding: 10px;
            vertical-align: top;
        }

        .td-centered {
            text-align: center;
            vertical-align: middle;
        }

        table th:first-child {
            padding: 10px;
            text-align: left;
            color: #4D4D4F;
            background: #D9EAC6;
        }

        .page-break {
            page-break-after: always;
        }

        .page-break:last-child {
            page-break-after: avoid;
        }

        .table-list , .table-list th , .table-list td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        /*TODO: convert to em*/
        ul {
            padding: 0;
            margin-top: 0;
            margin-left: 0.67em;
            list-style-type: none;
        }

        ul li:before {
            content: '-';
            padding-left: 0;
            padding-right: 5px;
        }

        ul li {
            padding-left: 0;
            text-indent: -11px;
        }


        @page {
            @top-left {
                font-family: "Verdana", sans-serif;
                content: "[[${employee.title}]] | [[${employee.occupation}]]";
                vertical-align: bottom;
                /*TODO: padding instead? */
            }
            /*TODO: Download Font*/
            @top-right {
                content: "                                        ";
                white-space: pre;
                background-image: url("qmsmall.png");
                background-repeat: no-repeat;
                background-position: bottom right;
                -webkit-background-size: 200px;
                background-size: 200px;
            }
            @bottom-left {
                font-family: "Verdana", sans-serif;
                content: "QualityMinds GmbH | Mitarbeiterprofil";
            }
            @bottom-right {
                font-family: "Verdana", sans-serif;
                content: "Seite " counter(page) " von " counter(pages);
            }
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding-top: 20px;
            margin-top: 80px;
        }
    </style>
    <title>Mitarbeiterprofil</title>
</head>

<body>
<br style="line-height:12;"/>
<img src="qmbig.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%"></img>
<h1 style="text-align: center">Mitarbeiterprofil</h1>
<p style="font-size: 1.4em; text-align: center">
[[${employee.title}]]<br/>
Status: [[${employee.status}]]<br/>
[[${employee.occupation}]]<br/>
Verfügbarkeit: [[${util.formattedDate(employee.getAvailableDate(), "Auf Anfrage")}]]<br/>
</p>
<br style="line-height:12;"/>
<p style="text-align: center">Stand:  <b th:text="${#dates.format(#dates.createNow(),'dd.MM.YYYY')}"></b></p>
<p style="page-break-after: always;"></p>
<table class="table-list">
    <tr><th colspan="2" >Übersicht</th></tr>
    <tr><td style="width: 25%">Technologien</td>           <td>[[${util.itemString(employee.technologies)}]]</td></tr>
    <tr><td>Programmiersprachen</td>    <td>[[${util.itemString(employee.programmingLanguages)}]]</td></tr>
    <tr><td>Werkzeuge</td>              <td>[[${util.itemString(employee.tools)}]]</td></tr>
    <tr><td>Sonstiges</td>              <td>[[${util.itemString(employee.miscellaneous)}]]</td></tr>
</table>
<br style="line-height:2;"/>
<table class="table-list">
    <tr><th colspan="2" >Werdegang</th></tr>
    <tr th:each="careerItem : ${employee.careerItems}">
        <td style="width: 25%">[[${util.formattedDate(careerItem.startDate)}]] - [[${util.formattedDate(careerItem.endDate)}]]</td>
        <td>[[${careerItem.description}]]</td>
    </tr>
</table>
<p style="page-break-after: always;"></p>
<table class="table-list">
    <tr><th colspan="4" >[[${employee.occupation}]]</th></tr>
    <tr><td></td> <td style="width: 13%">Grund-kenntnisse</td><td style="width: 13%">Vertiefte Kenntnisse</td><td style="width: 13%">Spezial-wissen</td></tr>
    <tr th:each="skill : ${employee.skills}">
        <td>[[${skill.name}]]</td>
        <td class="td-centered"><b th:text="*{skill.level == 1}? 'X' : ''"></b></td>
        <td class="td-centered"><b th:text="*{skill.level == 2}? 'X' : ''"></b></td>
        <td class="td-centered"><b th:text="*{skill.level == 3}? 'X' : ''"></b></td>
    </tr>
</table>
<table style="page-break-before: always;">
    <tr><th colspan="2" >Projekterfahrung</th></tr>
</table>
<table class="page-break" th:each="project, iter : ${employee.projects}">
    <tr><td colspan="2"><h3>[[${iter.index} + 1]]. [[${project.name}]]</h3></td></tr>
    <tr><td style="width: 25%">Zeitraum</td>               <td>[[${util.formattedDate(project.startDate)}]] - [[${util.formattedDate(project.endDate)}]]</td></tr>
    <tr><td>Rolle</td>                  <td>[[${project.role}]]</td></tr>
    <tr><td>Projektgröße</td>           <td>[[${project.projectSize}]]</td></tr>
    <tr><td>Projektbeschreibung</td>    <td>[[${project.description}]]</td></tr>
    <tr><td>Aufgaben</td>               <td><ul><li th:each="task: ${project.tasks}" th:utext="${task.description}" style="white-space: pre-wrap">[[${task.description}]]</li></ul></td></tr>
    <tr><td>Technologien</td>           <td>[[${util.itemString(project.technologies)}]]</td></tr>
    <tr><td>Programmiersprachen</td>    <td>[[${util.itemString(project.programmingLanguages)}]]</td></tr>
    <tr><td>Werkzeuge</td>              <td>[[${util.itemString(project.tools)}]]</td></tr>
    <tr><td>Sonstiges</td>              <td>[[${util.itemString(project.miscellaneous)}]]</td></tr>
</table>
</body>
</html>