<div class="row">
  <div class="col-md-12" style="text-align: center">
    <span class="badge badge-secondary">Person List</span>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-person-item
      *ngFor="let personEl of persons; let i = index"
    [person]="personEl"
    [index]="i"></app-person-item>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12" style="text-align: center">
    <button class="btn btn-success" (click)="onNew()" *ngIf="authService.isAdmin()">New Person</button>
  </div>
</div>
