<div class="row">
  <div class="col-md-3">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <span class="badge badge-secondary"><small>Programming Languages</small></span>
      </div>
    </div>
    <br>
    <app-catalog-list name="programminglanguages"></app-catalog-list>
  </div>
  <div class="col-md-3">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <span class="badge badge-secondary"><small>Technologies</small></span>
      </div>
    </div>
    <br>
    <app-catalog-list name="technologies"></app-catalog-list>
  </div>
  <div class="col-md-3">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <span class="badge badge-secondary"><small>Tools</small></span>
      </div>
    </div>
    <br>
    <app-catalog-list name="tools"></app-catalog-list>
  </div>
  <div class="col-md-3">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <span class="badge badge-secondary"><small>Miscellaneous</small></span>
      </div>
    </div>
    <br>
    <app-catalog-list name="miscellaneous"></app-catalog-list>
  </div>
</div>

