<div class="row">
  <div class="col-md-4">
    <app-project-list></app-project-list>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
