<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          <span class="badge badge-secondary">Edit Role</span>
          <hr>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               id="name"
               class="form-control"
               [ngModel]="role.name"
               name="name"
               required
               #name="ngModel">
        <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a role!</span>
      </div>
      <button class="btn btn-primary"
              type="submit"
              *ngIf="f.valid">
        Submit
      </button>
      |
      <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </form>
  </div>
</div>
